<h1>{{heroe.nombre | uppercase}} <small>({{ heroe.aparicion | date:'y'}})</small></h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <img [src]="heroe.img" class="img-fluid" alt="">
        <br><br>
        <a [routerLink]="['/heores']" class="btn btn-outline-primary btn-block">Regresar</a>
    </div>
    <div class="col-md-8">
        <h3>{{ heroe.nombre }}</h3>
        <p>{{ heroe.bio }}</p>
        <div *ngIf=" heroe.casa == 'DC'">
            <img src="../../../assets/img/dc.png" class="img-fluid" alt="">
        </div>
        <div *ngIf=" heroe.casa == 'Marvel'">
            <img src="../../../assets/img/marvel.png" class="img-fluid" alt="">
        </div>
    </div>
</div>