
<div class="card-columns">
    <div class="card" *ngFor="let user of poke$">
        <img src="https://github.com/PokeAPI/sprites/blob/master/sprites/pokemon/1.png" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">{{ user.name }}</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, minima neque, qui fuga accusamus optio tempore voluptates officia, recusandae ad ullam. Animi dolore veniam accusantium tenetur totam ipsa eligendi vel!</p>
          <p class="card-text"><small class="text-muted">año</small></p>
          <a href="" class="btn btn-outline-primary btn-block">Ver Mas...</a>
        </div>
    </div>
</div>