<h1>Héroes <small>MArvel y DC</small></h1>
<hr>

<div class="card-columns">

    <!-- *ngFor="let heroe of heroes; let i = index" -->
    <app-heroe-tarjeta (heroeSeleccionado)="verHeroe($event)" [heroe]="heroe" [index]="i" *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>

</div>